#activ{
  font-size: 20px;
  font-family: cursive;
  color: green;
}
body{
    background-color: green;
}
activ2{
    color: black;
    font-size: 18px;
    font-style: oblique;
    line-height: 16px;
}
img{
    height: 60;
    width:600;
}
